<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">

	<!-- 
	
		FrontController 서블릿을 웹서버(톰캣)에 배포하기
			- FronController 서블릿은  *.hta 형식의 HTTP 요청이 접수되면 실행되도록 배포한다.
	 -->
	 
	 <servlet>
	 	<servlet-name>fc</servlet-name>
	 	<servlet-class>com.sample.model2.FrontController</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>fc</servlet-name>
	 	<url-pattern>*.hta</url-pattern>
	 </servlet-mapping>
</web-app>